.heroContainer{
    width: 100%;
}.heroImageContainer{
    width: 100% !important;
    aspect-ratio: 19/20;
    background-color: none;
    border: none;
}
.heroSwiper{
    padding-bottom: 0 !important;
}




/* base = mobile */

@media (min-width: 480px) {
    .heroImageContainer{
        aspect-ratio: 1/1;
    }
}

@media (min-width: 768px) {
    .heroImageContainer{
        aspect-ratio: 4/3;
    }
}

@media (min-width: 1024px) {
    .heroImageContainer{
        margin-inline: auto;
        width: 87% !important;
        aspect-ratio: 16/8;
    }
}

@media (min-width: 1200px) {
    .heroImageContainer{
        aspect-ratio: 16/9;
    }
}

@media (min-width: 1920px) {
    .heroImageContainer{
        aspect-ratio: 21/9;
    }
}